@model List<AutomotiveForumSystem.Models.ViewModels.PostPreViewModel> // TODO: ask if we can pass Post model directly

<div class="text-light">

	<h4>Welcome to Automotive Forum System</h4>

	<hr />
</div>

@{
	foreach (var post in Model)
	{
		@Html.Partial("_PostCardTemplate", post)
	}
}