@model List<AutomotiveForumSystem.Models.ViewModels.PostPreViewModel>
@{
	var label = ViewData["IndexLabel"];
}
<div class="text-light d-flex justify-content-between">

	@if (label != null)
	{
		<h4>@label</h4>
	}
	else
	{
		<h4>Welcome to Automotive Forum System</h4>
	}
	<div>
		<a asp-controller="Home" asp-action="Index" class="btn btn-outline-light" style="text-decoration:none">All Posts</a>
		<a asp-controller="Home" asp-action="Index" asp-route-sortBy="date" class="btn btn-outline-light" style="text-decoration:none">Most Recent</a>
		<a asp-controller="Home" asp-action="Index" asp-route-sortBy="likes" class="btn btn-outline-light" style="text-decoration:none">Most Liked</a>
	</div>
</div>
<hr style="color: #fff;" />


@{
	if (Model.Count == 0)
	{
		<h2 class="text-light">No results match your search parameters! :(</h2>
	}
	foreach (var post in Model)
	{
		@Html.Partial("_PostCardTemplate", post)
	}
}