@model List<AutomotiveForumSystem.Models.ViewModels.PostPreViewModel>

@{
	var currentCategory = ViewData["CategoryPreview"];
}

<h4 class="text-light">@currentCategory</h4>

<hr class="bg-light"/>

@{
	if (Model.Count > 0)
	{
		foreach (var post in Model)
		{
			@Html.Partial("_PostCardTemplate", post)

		}
	}
	else
	{
		<h4>No posts created for category.</h4>
	}
}