@model AdminSearchViewModel

<div class="d-flex flex-column justify-content-center align-items-center gap-2" style="height: 60%">
    <h3 class="text-light">Search User</h3>
    <form asp-controller="Admins" asp-action="Search" class="d-flex flex-column gap-2" method="get">
        <input asp-for="@Model.Username" class="p-2" type="text" placeholder="Username" />
        <input asp-for="@Model.Email" class="p-2" type="text" placeholder="Email" />
        <input asp-for="@Model.FirstName" class="p-2" type="text" placeholder="First name" />
        <button class="btn btn-secondary" type="submit">Search</button>
    </form>
</div>