<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Automotive Forum</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

	<div class="d-flex vh-100">

		<nav class="bg-dark px-2 py-2 col-auto navbar-dark">
			<div class="px-2 py-2" style="margin-bottom:60px">
				<a class="navbar-brand" href="#">Automotive Forum</a>
			</div>
			<ul class="nav flex-column px-2 navbar-text">
				<li>
					<h5><span class="badge bg-secondary">Categories</span></h5>
				</li>
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Tuning</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Engines</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Suspension</a>
				</li>
			</ul>

			<footer class="footer text-muted m-2 px-2 py-2 position-fixed bottom-0">
				<div class="text-left">
					<small>© Copyright @DateTime.Now.Year <br /> Automotive Forum System</small>
				</div>
			</footer>
		</nav>

		<div class="container-fluid col px-0">
			<header>
				<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #DCE0D9;">
					<div class="container-fluid">

						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="#">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="#">About</a>
								</li>
							</ul>
							<span class="navbar-text">
								<button type="button" class="btn btn-outline-dark">Login</button>
							</span>
						</div>
					</div>
				</nav>
			</header>

			<main role="main">
				<div class="mx-5 my-5">

					@RenderBody()
				</div>
			</main>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>