<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Automotive Forum</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Automotive Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">About</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <button type="button" class="btn btn-outline-primary">Login</button>
                    </span>
                </div>
            </div>
        </nav>
    </header>


    <nav class="sidebar-sticky bg-light">
    <ul class="nav flex-column">
        <li>
            <h5><span class="badge bg-secondary">Categories</span></h5>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tuning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Engines</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Suspension</a>
        </li>
    </ul>
    </nav>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

    <footer class="border-top footer fixed-bottom text-muted">
        <div class="text-center p-3">
		<small>© Copyright @DateTime.Now.Year, Automotive Forum System</small>
        </div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>